[submodule "libs/DPP"]
	path = libs/DPP
	url = https://github.com/brainboxdotcc/DPP.git
[submodule "libs/vcpkg"]
	path = libs/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "include/external/cpp-httplib"]
	path = include/external/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "include/external/json"]
	path = include/external/json
	url = https://github.com/nlohmann/json.git
